<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <script defer src="../../static/js/javascript.js" th:src="@{/js/javascript.js}"></script>
</head>
<body>
<!--Navbar -->
<div th:insert="~{fragments/navbar::nav}" class="fixed-top"></div>


<div class="container mt-3">
    <h1 class="mb-4" th:utext="#{history.title}">Session History</h1>

    <table class="table">
        <thead class="h3">
        <tr>
            <th  style="background-color: transparent; !important; font-weight: lighter" scope="col">Page</th>
            <th  style="background-color: transparent; !important; font-weight: lighter" class="table-head" scope="col">Timestamp</th>
        </tr>
        </thead>
        <tbody class="h5">
        <tr th:each="pageVisit : ${pageHistory}">
            <td>
                <a th:href="@{${pageVisit.link}}" th:text="${pageVisit.link}"></a>
            </td>
            <td th:text="${#temporals.format(pageVisit.timestamp, 'dd-MM-yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>